- if @meeting.begin.nil?
  %h5
    The meeting has not started yet.
- else
  .table-responsive
    = form_for @meeting, html: {class: 'senate-table-form'} do |m|
      %table.table
        %tr
          %th Seat
          %th Status
          - unless flash[:open]
            %th Late
          %th Sub
          %th Sub Name and NetID
        = m.fields_for :attendance_records do |record|
          %tr
            %td
              = record.object.affiliation_and_name
              = record.hidden_field :id
            %td= record.select :status, options_for_select(AttendanceRecord.statuses_for_select, record.object.status), {include_blank: true}
            - unless flash[:open]
              %td= record.check_box :late
            %td= record.check_box :sub, id: "sub-checkbox-#{record.object.affiliation_id}", data: {affiliation: record.object.affiliation_id}, checked: record.object.affiliation.user.nil? || record.object.sub, disabled: record.object.affiliation.user.nil?
            %td
              .input-group
                = record.text_field :who, readonly: !record.object.affiliation.user.nil? && !record.object.sub, placeholder: 'Sub Name', id: "sub-name-#{record.object.affiliation.id}", value: record.object.current_or_default_who
                = record.text_field :netid, readonly: !record.object.affiliation.user.nil? && !record.object.sub, placeholder: 'Sub NetID', id: "sub-netid-#{record.object.affiliation.id}", value: record.object.current_or_default_netid
      .text-right
        = m.submit 'Save Attendance', class: 'button'