- if @meeting.begin.nil?
  %h5
    The meeting has not started yet.
- else
  .table-responsive
    = form_for @meeting, html: {class: 'senate-table-form'} do |m|
      %table.table
        %tr
          %th Seat
          %th Status
          - unless flash[:open]
            %th Late
          %th Sub
          %th Sub Name and NetID
        = m.fields_for :attendance_records do |record|
          %tr
            %td
              = record.object.affiliation_and_name
              = record.hidden_field :id
            %td= record_status_select record
            - unless flash[:open]
              %td= record.check_box :late
            %td= record_sub_checkbox record
            %td
              .input-group
                = record_who_field record
                = record_netid_field record
      .text-right
        = m.submit 'Save Attendance', class: 'button'