-# Todo: clean this up
%h1
  = params[:time] == 'begin' ? 'Beginning' : 'Ending'
  Attendance
.table-responsive
  = form_for @meeting, url: {controller: :meetings, action: :update_attendance} do |m|
    %table.table
      %tr
        %th Seat
        %th Status
        - unless flash[:open]
          %th Late
        %th Sub
        %th Sub Name and NetID
      - @meeting.attendance_records(params[:time]).each do |attendance_record|
        = m.fields_for 'attendance_record[]', attendance_record do |r|
          %tr
            %td= r.object.affiliation.name + " (" + r.object.affiliation.user.name + ")"
            %td= r.select :status, options_for_select(AttendanceRecord.statuses.keys.map do |m| [m.capitalize, m] end, r.object.status), {include_blank: true}, {class: 'form-control form-control-sm'}
            - unless flash[:open]
              %td= r.check_box :late
            - if params[:time] == 'begin'
              %td= r.check_box :sub, id: "sub-checkbox-#{r.object.affiliation.id}", data: {affiliation: r.object.affiliation.id}
              %td
                .input-group
                  - if r.object.sub
                    = r.text_field :who, class: 'form-control', placeholder: 'Sub Name', id: "sub-name-#{r.object.affiliation.id}"
                    = r.text_field :netid, class: 'form-control', placeholder: 'Sub NetID', id: "sub-netid-#{r.object.affiliation.id}"
                  - else
                    = r.text_field :who, class: 'form-control', disabled: true, placeholder: 'Sub Name', id: "sub-name-#{r.object.affiliation.id}"
                    = r.text_field :netid, class: 'form-control', disabled: true, placeholder: 'Sub NetID', id: "sub-netid-#{r.object.affiliation.id}"
            - else
              - if r.object.begin_was_sub?
                %td= r.check_box :sub, id: "sub-checkbox-#{r.object.affiliation.id}", data: {affiliation: r.object.affiliation.id}, disabled: true, checked: true
              - else
                %td= r.check_box :sub, id: "sub-checkbox-#{r.object.affiliation.id}", data: {affiliation: r.object.affiliation.id}, disabled: true
              %td
                .input-group
                  = r.text_field :who, class: 'form-control', disabled: true, laceholder: 'Sub Name', id: "sub-name-#{r.object.affiliation.id}"
                  = r.text_field :netid, class: 'form-control', disabled: true, placeholder: 'Sub NetID', id: "sub-netid-#{r.object.affiliation.id}"
    .d-flex.justify-content-end
      = m.submit 'Save Attendance', class: 'btn btn-primary'