%h1 Senate Meetings
- if is_admin?
  %div
    .item-listing.add
      = link_to(controller: :meetings, action: :new) do
        %span.fas.fa-plus-circle
        &nbsp;Add a Meeting
- @meetings_grouped.each do |term, meetings|
  %h3= term.nil? ? "No Associated Term" : term.name
  %div
    - meetings.each do |meeting|
      .item-listing
        .title
          %span= link_to meeting.real_name, {controller: :meetings, action: :show, id: meeting.id}
          %span= meeting_date meeting
        .middle
          - meeting.documents.each do |document|
            %span= document.name
        - if is_admin?
          .options
            = render partial: 'shared/context_button'
          .context-menu
            %ul
              %li= meeting_edit_button meeting
              %li= meeting_delete_button meeting