
%h1= @meeting.new_record? ? 'New Senate Meeting' : 'Edit Senate Meeting'
= form_for @meeting, html: {class: 'senate-form'} do |f|
  %label{for: 'name'} Meeting name
  = f.text_field :name, placeholder: @meeting.real_name
  %label{for: 'date'} Date of meeting
  .date-container
    = f.date_select :date, {order: %i[month day year]}
  %label{for: 'agenda'} Agenda link
  = f.text_field :agenda
  %label{for: 'minutes'} Minutes link
  = f.text_field :minutes
  %label{for: 'embed'} Embed Code
  = f.text_area :embed
  = f.submit @meeting.new_record? ? 'Create' : 'Update'
