%h1 Edit User
= form_for @user do |f|
  .row
    .col
      .form-group
        %label{for: 'name'} Full name
        = f.text_field :name, class: 'form-control'
  .row
    .col
      .form-group
        %label{for: 'affiliation_type'} NetID
        = f.text_field :netid, {class: 'form-control'}
  .row
    .col
      .form-group
        %label{for: 'affiliation_id'} Affiliation
        = f.select :affiliation_id, options_from_collection_for_select(Affiliation.all, 'id', 'name', @user.affiliation_id), {include_blank: true}, {class: 'form-control'}
  .row
    .col
      .form-group
        %label{for: 'admin'} Admin
        = f.check_box :admin
  .row
    .col
      = f.submit 'Save Changes', class: 'btn btn-primary'
