%h1 Users
%div
  .item-listing.add
    = link_to(controller: :users, action: :new) do
      %span.fas.fa-plus-circle
      Add a User
.table-responsive
  %table.table
    %tr
      %th Name
      %th NetID
      %th Affiliation
      %th Email
      %th Admin
      %th Actions
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.netid
        %td= user_affiliation user
        %td= user_email user
        %td= user_admin user
        %td
          = link_to(edit_icon, action: :edit, id: user.id)
          = user_delete_link user
