%h1 Users
%div
  .item-listing.add
    = link_to(controller: :users, action: :new) do
      %span.fas.fa-plus-circle
      &nbsp;Add a User
.table-responsive
  %table.table
    %tr
      %th Name
      %th NetID
      %th Affiliation
      %th Admin
      %th Actions
    - @users.each do |u|
      %tr
        %td= u.name
        %td= u.netid
        %td= u.affiliation.nil? ? content_tag('span', 'None', class: 'text-muted') : u.affiliation.name
        %td= u.admin ? 'Yes' : 'No'
        %td
          = link_to(edit_icon, action: :edit, id: u.id)
          = link_to delete_icon, {action: :destroy, id: u.id}, method: :delete, data: {confirm: 'Are you sure you want to delete this?'}