%h1 New User
= form_for @user do |f|
  %label{for: 'name'} Full name
  = f.text_field :name, class: 'form-control'
  %label{for: 'affiliation_type'} NetID
  = f.text_field :netid, {class: 'form-control'}
  %label{for: 'affiliation_id'} Affiliation
  = f.select :affiliation_id, options_from_collection_for_select(Affiliation.all, 'id', 'name', @user.affiliation_id), {include_blank: true}, {class: 'form-control'}
  %label{for: 'admin'} Admin
  = f.check_box :admin
  = f.submit 'Save Changes', class: 'btn btn-primary'
