%section#sidebar
  = image_tag 'asg-notext.png', id: 'sidebar-logo'
  %section#profile
    = image_tag 'user.png', id: 'profile-image'
    %h4#profile-name= @user.name
    %h6#profile-affiliation= @user.rep_name
  = render partial: 'shared/nav'