%section#sidebar
  = image_tag 'asg-notext', id: 'sidebar-logo'
  %section#profile
    = image_tag 'user', id: 'profile-image'
    %h4#profile-name= User.find(session[:user_id]).name
    %h6#profile-affiliation= User.find(session[:user_id]).rep_name
  = render partial: 'shared/nav'