%h1= @doc.new_record? ? 'New Document' : 'Edit Document'
= form_for @doc, html: {class: 'senate-form'} do |f|
  %label{for: 'name'} Document name
  = f.text_field :name, required: true
  %label{for: 'type'} Document type
  = document_type_select f
  %label{for: 'link'} Link
  = f.text_field :link
  %label{for: 'nonvoting_meeting_ids'} Meetings (Not Voting)
  = document_nonvoting_select f
  %label{for: 'voting_meeting_ids'} Meeting (Voting)
  = document_voting_select f
  = f.submit @doc.new_record? ? 'Create' : 'Update'