%h1 New Document
= form_for @doc do |f|
  .row
    .col
      .form-group
        %label{for: 'name'} Document name
        = f.text_field :name, {class: 'form-control'}
  .row
    .col
      .form-group
        %label{for: 'type'} Document type
        = f.select :document_type_id, options_from_collection_for_select(DocumentType.all, 'id', 'name'), {}, class: 'form-control'
  .row
    .col
      .form-group
        %label{for: 'link'} Link
        = f.text_field :link, {class: 'form-control'}
  .row
    .col
      .form-group
        %label{for: 'meeting_ids'} Meetings
        = f.select :meeting_ids, options_from_collection_for_select(Meeting.all.order(date: :desc), 'id', 'real_name'), {}, {class: 'form-control', multiple: true}

  .row
    .col
      .d-flex.justify-content-end
        = f.submit 'Save Changes', class: 'btn btn-primary'