%h1= @affiliation.new_record? ? 'New Affiliation' : 'Edit Affiliation'
= form_for @affiliation, html: {class: 'senate-form'} do |f|
  %label{for: 'name'} Affiliation name
  = f.text_field :name, required: true
  %label{for: 'affiliation_type'} Affiliation type
  = affiliation_type_select f
  %label{for: 'id'} Representative
  = affiliation_user_select
  %label{for: 'enabled'} Enabled
  = f.check_box :enabled
  = f.submit @affiliation.new_record? ? 'Create' : 'Update'
