%h1 Affiliations
%div
  .item-listing.add
    = link_to(controller: :affiliations, action: :new) do
      %span.fas.fa-plus-circle
      &nbsp;Add an Affiliation
.table-responsive
  %table.table
    %tr
      %th Affiliation Name
      %th Type
      %th Representative
      %th Enabled
      %th Actions
    - @affiliations.each do |affiliation|
      %tr
        %td= affiliation.name
        %td= affiliation.type.name
        %td= affiliation_user affiliation
        %td= affiliation.enabled ? 'Yes' : 'No'
        %td
          = affiliation_edit_link affiliation
          = affiliation_delete_link affiliation