%h1 New Term
= form_for @term, url: management_terms_path(@term) do |f|
  .row
    .col
      .form-group
        %label{for: 'name'} Name
        = f.text_field :name, class: 'form-control'
  .row
    .col
      .form-group
        %label{for: 'begin'} Start Date
        .d-flex.justify-content-between.asg-date-select
          = f.date_select :begin, {order: %i[month day year]}, {class: 'form-control'}
  .row
    .col
      .form-group
        %label{for: 'end'} End Date
        .d-flex.justify-content-between.asg-date-select
          = f.date_select :end, {order: %i[month day year]}, {class: 'form-control'}
  .row
    .col
      = f.submit 'Create', class: 'btn btn-primary'
