!!! 5
%html
  %head
    %title Senate
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag  'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag     'https://fonts.googleapis.com/css?family=Lato:400,500,700|Montserrat:400,500,700'
    = stylesheet_link_tag     'https://use.fontawesome.com/releases/v5.0.13/css/all.css'
    - if logged_in?
      = tag :meta, name: 'user', data: {id: @user.id, netid: @user.netid}
  %body{data:{controller: controller_name, action: action_name}}
    #shade
    = render partial: 'shared/sidebar'
    %section#content
      %header
        %div
          %span.fas.fa-bars#open-sidebar
        %div
          = image_tag 'asg-notext.png'
        %div
      .content-container
        =yield
    - if flash[:alert]
      .alert= flash[:alert]