!!! 5
%html
  %head
    %title Senate
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag  'application', 'data-turbolinks-track': 'reload'
  %body
    #shade
    = render partial: 'shared/sidebar'
    %section#content
      %header
        %div
          %span.fas.fa-bars#open-sidebar
        %div
          = image_tag 'asg-notext'
        %div
      .content-container
        =yield
    - if flash[:alert]
      .alert= flash[:alert]