!!! 5
%html
  %head
    %title Senate
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag  'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    - if flash[:alert]
      .alert.light= flash[:alert]
